<div class="card mb-3">
  <h2 class="card-header h4">
    User Story #<%= user_story.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Role</dt>
      <dd><%= user_story.role %></dd>

      <dt>Capability</dt>
      <dd><%= user_story.capability %></dd>

      <dt>Benefit</dt>
      <dd><%= user_story.benefit %></dd>

      <dt>Project</dt>
      <dd>
        <% if @user_story.project.present? %>
          <%= link_to user_story.project, user_story.project %>
        <% end %>
      </dd>

      <dt>Notes</dt>
      <dd><%= user_story.notes %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back user_story, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_user_story_url(user_story), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to user_story, method: :delete, data: { confirm: "Do you really want to delete this user_story?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(user_story.updated_at) %> ago
  </div>
</div>
