<% was_validated = user_story.errors.any? %>

<%= form_with(model: user_story, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% role_class = "form-control" %>
    <% role_was_invalid = user_story.errors.include?(:role) %>

    <% if was_validated %>
      <% if role_was_invalid %>
        <% role_class << " is-invalid" %>
      <% else %>
        <% role_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :role %>
    <%= f.text_field :role, class: role_class, placeholder: "Enter role" %>
    <% if role_was_invalid %>
      <% user_story.errors.full_messages_for(:role).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% capability_class = "form-control" %>
    <% capability_was_invalid = user_story.errors.include?(:capability) %>

    <% if was_validated %>
      <% if capability_was_invalid %>
        <% capability_class << " is-invalid" %>
      <% else %>
        <% capability_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :capability %>
    <%= f.text_area :capability, class: capability_class, placeholder: "Enter capability" %>
    <% if capability_was_invalid %>
      <% user_story.errors.full_messages_for(:capability).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% benefit_class = "form-control" %>
    <% benefit_was_invalid = user_story.errors.include?(:benefit) %>

    <% if was_validated %>
      <% if benefit_was_invalid %>
        <% benefit_class << " is-invalid" %>
      <% else %>
        <% benefit_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :benefit %>
    <%= f.text_area :benefit, class: benefit_class, placeholder: "Enter benefit" %>
    <% if benefit_was_invalid %>
      <% user_story.errors.full_messages_for(:benefit).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% project_class = "form-control" %>
    <% project_was_invalid = user_story.errors.include?(:project) %>

    <% if was_validated %>
      <% if project_was_invalid %>
        <% project_class << " is-invalid" %>
      <% else %>
        <% project_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :to_s, {}, class: "form-control" %>
    <% if project_was_invalid %>
      <% user_story.errors.full_messages_for(:project).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% note_class = "form-control" %>
    <% note_was_invalid = user_story.errors.include?(:note) %>

    <% if was_validated %>
      <% if note_was_invalid %>
        <% note_class << " is-invalid" %>
      <% else %>
        <% note_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :notes %>
    <%= f.text_area :notes, class: note_class, placeholder: "Enter note" %>
    <% if note_was_invalid %>
      <% user_story.errors.full_messages_for(:note).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
