<div class="card mb-3">
  <h2 class="card-header h4">
    Screen #<%= screen.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Project</dt>
      <dd>
        <% if @screen.project.present? %>
          <%= link_to screen.project, screen.project %>
        <% end %>
      </dd>

      <dt>Wireframe</dt>
      <dd>
        <%= cl_image_tag @screen.wireframe, class: "img-fluid" %>
      </dd>

      <dt>Description</dt>
      <dd><%= screen.description %></dd>

      <dt>Url pattern</dt>
      <dd><%= screen.url_pattern %></dd>

      <dt>Title</dt>
      <dd><%= screen.title %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back screen, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_screen_url(screen), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to screen, method: :delete, data: { confirm: "Do you really want to delete this screen?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(screen.updated_at) %> ago
  </div>
</div>
