<% was_validated = screen.errors.any? %>

<%= form_with(model: screen, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% project_class = "form-control" %>
    <% project_was_invalid = screen.errors.include?(:project) %>

    <% if was_validated %>
      <% if project_was_invalid %>
        <% project_class << " is-invalid" %>
      <% else %>
        <% project_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :to_s, {}, class: "form-control" %>
    <% if project_was_invalid %>
      <% screen.errors.full_messages_for(:project).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% wireframe_class = "form-control" %>
    <% wireframe_was_invalid = screen.errors.include?(:wireframe) %>

    <% if was_validated %>
      <% if wireframe_was_invalid %>
        <% wireframe_class << " is-invalid" %>
      <% else %>
        <% wireframe_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :wireframe %>
    <%= f.file_field :wireframe, class: "form-control" %>
    <% if wireframe_was_invalid %>
      <% screen.errors.full_messages_for(:wireframe).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = screen.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% screen.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% url_pattern_class = "form-control" %>
    <% url_pattern_was_invalid = screen.errors.include?(:url_pattern) %>

    <% if was_validated %>
      <% if url_pattern_was_invalid %>
        <% url_pattern_class << " is-invalid" %>
      <% else %>
        <% url_pattern_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :url_pattern %>
    <%= f.text_field :url_pattern, class: url_pattern_class, placeholder: "Enter url pattern" %>
    <% if url_pattern_was_invalid %>
      <% screen.errors.full_messages_for(:url_pattern).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% title_class = "form-control" %>
    <% title_was_invalid = screen.errors.include?(:title) %>

    <% if was_validated %>
      <% if title_was_invalid %>
        <% title_class << " is-invalid" %>
      <% else %>
        <% title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, class: title_class, placeholder: "Enter title" %>
    <% if title_was_invalid %>
      <% screen.errors.full_messages_for(:title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
