<%= form_with(model: @control, local: true) do |f| %>

  <%= f.hidden_field :on_screen_id, value: @screen.id %>

  <div class="form-group">
    <%= f.label :leads_to_screen_id %>

    <%= f.text_field :leads_to_screen_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :copy %>

    <%= f.text_field :copy, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :crud %>
    <%= f.text_area :crud, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create control", class: "btn btn-block btn-outline-secondary" %>
<% end %>
