<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @screen, partial: "card", as: :screen %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "screens/screen_outgoing_controls" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "screens/screen_incoming_controls" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "screens/screen_leads_to_screens" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "screens/screen_incoming_screens" %>
  </div>
</div>
  <!-- Show Page Customization end -->
