<%= form_with(model: @project, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :existing_process %>
    <%= f.text_area :existing_process, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :job_to_be_done %>
    <%= f.text_area :job_to_be_done, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :struggling_moment %>
    <%= f.text_area :struggling_moment, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :other %>
    <%= f.text_area :other, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :existing_database %>
    <%= f.text_area :existing_database, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create project", class: "btn btn-block btn-outline-secondary" %>
<% end %>
