<div class="card mb-3">
  <h2 class="card-header h4">
    Control #<%= control.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>On screen</dt>
      <dd>
        <% if @control.on_screen.present? %>
          <%= link_to control.on_screen, control.on_screen %>
        <% end %>
      </dd>

      <dt>Leads to screen</dt>
      <dd>
        <% if @control.leads_to_screen.present? %>
          <%= link_to control.leads_to_screen, control.leads_to_screen %>
        <% end %>
      </dd>

      <dt>Copy</dt>
      <dd><%= control.copy %></dd>

      <dt>Crud</dt>
      <dd><%= control.crud %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back control, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_control_url(control), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to control, method: :delete, data: { confirm: "Do you really want to delete this control?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(control.updated_at) %> ago
  </div>
</div>
