<% was_validated = api_integration.errors.any? %>

<%= form_with(model: api_integration, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for documentation start -->
  <div class="form-group">
    <% documentation_class = "form-control" %>
    <% documentation_was_invalid = api_integration.errors.include?(:documentation) %>

    <% if was_validated %>
      <% if documentation_was_invalid %>
        <% documentation_class << " is-invalid" %>
      <% else %>
        <% documentation_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :documentation %>
    <!-- Input for documentation start -->
    <%= f.text_field :documentation, class: documentation_class, placeholder: "Enter documentation" %>
    <!-- Input for documentation end -->
    <% if documentation_was_invalid %>
      <% api_integration.errors.full_messages_for(:documentation).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for documentation end -->
  <!-- Label and input for purpose start -->
  <div class="form-group">
    <% purpose_class = "form-control" %>
    <% purpose_was_invalid = api_integration.errors.include?(:purpose) %>

    <% if was_validated %>
      <% if purpose_was_invalid %>
        <% purpose_class << " is-invalid" %>
      <% else %>
        <% purpose_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :purpose %>
    <!-- Input for purpose start -->
    <%= f.text_field :purpose, class: purpose_class, placeholder: "Enter purpose" %>
    <!-- Input for purpose end -->
    <% if purpose_was_invalid %>
      <% api_integration.errors.full_messages_for(:purpose).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for purpose end -->
  <!-- Label and input for project_id start -->
  <div class="form-group">
    <% project_class = "form-control" %>
    <% project_was_invalid = api_integration.errors.include?(:project) %>

    <% if was_validated %>
      <% if project_was_invalid %>
        <% project_class << " is-invalid" %>
      <% else %>
        <% project_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :project_id %>
    <!-- Input for project_id start -->
    <%= f.number_field :project_id, class: project_class, placeholder: "Enter project" %>
    <!-- Input for project_id end -->
    <% if project_was_invalid %>
      <% api_integration.errors.full_messages_for(:project).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for project_id end -->
  <!-- Label and input for example_endopoint start -->
  <div class="form-group">
    <% example_endopoint_class = "form-control" %>
    <% example_endopoint_was_invalid = api_integration.errors.include?(:example_endopoint) %>

    <% if was_validated %>
      <% if example_endopoint_was_invalid %>
        <% example_endopoint_class << " is-invalid" %>
      <% else %>
        <% example_endopoint_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :example_endopoint %>
    <!-- Input for example_endopoint start -->
    <%= f.text_field :example_endopoint, class: example_endopoint_class, placeholder: "Enter example endopoint" %>
    <!-- Input for example_endopoint end -->
    <% if example_endopoint_was_invalid %>
      <% api_integration.errors.full_messages_for(:example_endopoint).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for example_endopoint end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
