<%= form_with(model: @callback, local: true) do |f| %>

  <%= f.hidden_field :event_id, value: @event.id %>

  <div class="form-group">
    <%= f.label :project_id %>

    <%= f.collection_select :project_id, Project.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.submit "Create callback", class: "btn btn-block btn-outline-secondary" %>
<% end %>
