<div class="card mb-3">
  <h2 class="card-header h4">
    Erd Url #<%= erd_url.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Project</dt>
      <!-- Display project_id start -->
      <dd><%= erd_url.project_id %></dd>
      <!-- Display project_id end -->

      <dt>Ideas url</dt>
      <!-- Display ideas_url start -->
      <dd><%= erd_url.ideas_url %></dd>
      <!-- Display ideas_url end -->

      <dt>Image</dt>
      <!-- Display image start -->
      <dd>
        <%= cl_image_tag @erd_url.image, class: "img-fluid" %>
      </dd>
      <!-- Display image end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back erd_url, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link erd_url start -->
      <div class="col">
        <%= link_to edit_erd_url_url(erd_url), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link erd_url end -->

      <!-- Delete link erd_url start -->
      <div class="col">
        <%= link_to erd_url, method: :delete, data: { confirm: "Do you really want to delete this erd_url?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link erd_url end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(erd_url.updated_at) %> ago
  </div>
</div>
