<% was_validated = erd_url.errors.any? %>

<%= form_with(model: erd_url, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% project_class = "form-control" %>
    <% project_was_invalid = erd_url.errors.include?(:project) %>

    <% if was_validated %>
      <% if project_was_invalid %>
        <% project_class << " is-invalid" %>
      <% else %>
        <% project_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :to_s, {}, class: "form-control" %>
    <% if project_was_invalid %>
      <% erd_url.errors.full_messages_for(:project).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% ideas_url_class = "form-control" %>
    <% ideas_url_was_invalid = erd_url.errors.include?(:ideas_url) %>

    <% if was_validated %>
      <% if ideas_url_was_invalid %>
        <% ideas_url_class << " is-invalid" %>
      <% else %>
        <% ideas_url_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :ideas_url %>
    <%= f.text_field :ideas_url, class: ideas_url_class, placeholder: "Enter ideas url" %>
    <% if ideas_url_was_invalid %>
      <% erd_url.errors.full_messages_for(:ideas_url).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% image_class = "form-control" %>
    <% image_was_invalid = erd_url.errors.include?(:image) %>

    <% if was_validated %>
      <% if image_was_invalid %>
        <% image_class << " is-invalid" %>
      <% else %>
        <% image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <% if image_was_invalid %>
      <% erd_url.errors.full_messages_for(:image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
