<div class="card mb-3">
  <h2 class="card-header h4">
    Scheduled Task #<%= scheduled_task.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Recurring</dt>
      <dd><%= scheduled_task.recurring %></dd>

      <dt>Occurence schedule</dt>
      <dd><%= scheduled_task.occurence_schedule %></dd>

      <dt>Project</dt>
      <dd>
        <% if @scheduled_task.project.present? %>
          <%= link_to scheduled_task.project, scheduled_task.project %>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= scheduled_task.description %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back scheduled_task, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_scheduled_task_url(scheduled_task), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to scheduled_task, method: :delete, data: { confirm: "Do you really want to delete this scheduled_task?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(scheduled_task.updated_at) %> ago
  </div>
</div>
