<%= form_with(model: @api_integration, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :documentation %>

    <%= f.text_field :documentation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :purpose %>

    <%= f.text_field :purpose, class: "form-control" %>
  </div>

  <%= f.hidden_field :project_id, value: @project.id %>

  <div class="form-group">
    <%= f.label :example_endopoint %>

    <%= f.text_field :example_endopoint, class: "form-control" %>
  </div>

  <%= f.submit "Create api integration", class: "btn btn-block btn-outline-secondary" %>
<% end %>
