<%= form_with(model: @screen, local: true) do |f| %>

  <%= f.hidden_field :project_id, value: @project.id %>

  <div class="form-group">
    <%= f.label :wireframe %>

    <%= f.file_field :wireframe, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url_pattern %>

    <%= f.text_field :url_pattern, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <%= f.submit "Create screen", class: "btn btn-block btn-outline-secondary" %>
<% end %>
