<%= form_with(model: @state_machine, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :link_to_diagram %>

    <%= f.text_field :link_to_diagram, class: "form-control" %>
  </div>

  <%= f.hidden_field :project_id, value: @project.id %>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :dsl %>
    <%= f.text_area :dsl, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :diagram %>

    <%= f.file_field :diagram, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :table %>

    <%= f.text_field :table, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :column %>

    <%= f.text_field :column, class: "form-control" %>
  </div>

  <%= f.submit "Create state machine", class: "btn btn-block btn-outline-secondary" %>
<% end %>
