<%= form_with(model: @scheduled_task, local: true) do |f| %>

  <div class="form-check">
    <%= f.check_box :recurring, class: "form-check-input" %>
    <%= f.label :recurring, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :occurence_schedule %>
    <%= f.text_area :occurence_schedule, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :project_id, value: @project.id %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create scheduled task", class: "btn btn-block btn-outline-secondary" %>
<% end %>
