<%= form_with(model: @callback, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :event_id %>

    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :project_id, value: @project.id %>

  <div class="form-group">
    <%= f.label :description %>

    <%= f.text_field :description, class: "form-control" %>
  </div>

  <%= f.submit "Create callback", class: "btn btn-block btn-outline-secondary" %>
<% end %>
