<%= form_with(model: @calculation, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :project_id, value: @project.id %>

  <%= f.submit "Create calculation", class: "btn btn-block btn-outline-secondary" %>
<% end %>
