<!-- Form user_story start -->
<%= form_with(model: @user_story, local: true) do |f| %>
<!-- Form user_story end -->

  <!-- Label and input for role start -->
  <div class="form-group">
    <%= f.label :role %>

    <!-- Input for role start -->
    <%= f.text_field :role, class: "form-control" %>
    <!-- Input for role end -->
  </div>
  <!-- Label and input for role end -->

  <!-- Label and input for capability start -->
  <div class="form-group">
    <%= f.label :capability %>
    <!-- Input for capability start -->
    <%= f.text_area :capability, rows: "3", class: "form-control" %>
    <!-- Input for capability end -->
  </div>
  <!-- Label and input for capability end -->

  <!-- Label and input for benefit start -->
  <div class="form-group">
    <%= f.label :benefit %>
    <!-- Input for benefit start -->
    <%= f.text_area :benefit, rows: "3", class: "form-control" %>
    <!-- Input for benefit end -->
  </div>
  <!-- Label and input for benefit end -->

  <!-- Label and input for project_id start -->
  <!-- Input for project_id start -->
  <%= f.hidden_field :project_id, value: @project.id %>
  <!-- Input for project_id end -->
  <!-- Label and input for project_id end -->

  <!-- Label and input for notes start -->
  <div class="form-group">
    <%= f.label :notes %>
    <!-- Input for notes start -->
    <%= f.text_area :notes, rows: "3", class: "form-control" %>
    <!-- Input for notes end -->
  </div>
  <!-- Label and input for notes end -->

  <%= f.submit "Create user story", class: "btn btn-block btn-outline-secondary" %>
<% end %>
