<div class="card mb-3">
  <h2 class="card-header h4">
    State Machine #<%= state_machine.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Link to diagram</dt>
      <dd><%= state_machine.link_to_diagram %></dd>

      <dt>Project</dt>
      <dd>
        <% if @state_machine.project.present? %>
          <%= link_to state_machine.project, state_machine.project %>
        <% end %>
      </dd>

      <dt>Notes</dt>
      <dd><%= state_machine.notes %></dd>

      <dt>Dsl</dt>
      <dd><%= state_machine.dsl %></dd>

      <dt>Diagram</dt>
      <dd>
        <%= cl_image_tag @state_machine.diagram, class: "img-fluid" %>
      </dd>

      <dt>Table</dt>
      <dd><%= state_machine.table %></dd>

      <dt>Column</dt>
      <dd><%= state_machine.column %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back state_machine, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_state_machine_url(state_machine), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to state_machine, method: :delete, data: { confirm: "Do you really want to delete this state_machine?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(state_machine.updated_at) %> ago
  </div>
</div>
