<% was_validated = state_machine.errors.any? %>

<%= form_with(model: state_machine, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for link_to_diagram start -->
  <div class="form-group">
    <% link_to_diagram_class = "form-control" %>
    <% link_to_diagram_was_invalid = state_machine.errors.include?(:link_to_diagram) %>

    <% if was_validated %>
      <% if link_to_diagram_was_invalid %>
        <% link_to_diagram_class << " is-invalid" %>
      <% else %>
        <% link_to_diagram_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :link_to_diagram %>
    <!-- Input for link_to_diagram start -->
    <%= f.text_field :link_to_diagram, class: link_to_diagram_class, placeholder: "Enter link to diagram" %>
    <!-- Input for link_to_diagram end -->
    <% if link_to_diagram_was_invalid %>
      <% state_machine.errors.full_messages_for(:link_to_diagram).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for link_to_diagram end -->
  <!-- Label and input for project_id start -->
  <div class="form-group">
    <% project_class = "form-control" %>
    <% project_was_invalid = state_machine.errors.include?(:project) %>

    <% if was_validated %>
      <% if project_was_invalid %>
        <% project_class << " is-invalid" %>
      <% else %>
        <% project_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :project_id %>
    <!-- Input for project_id start -->
    <%= f.number_field :project_id, class: project_class, placeholder: "Enter project" %>
    <!-- Input for project_id end -->
    <% if project_was_invalid %>
      <% state_machine.errors.full_messages_for(:project).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for project_id end -->
  <!-- Label and input for notes start -->
  <div class="form-group">
    <% note_class = "form-control" %>
    <% note_was_invalid = state_machine.errors.include?(:note) %>

    <% if was_validated %>
      <% if note_was_invalid %>
        <% note_class << " is-invalid" %>
      <% else %>
        <% note_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :notes %>
    <!-- Input for notes start -->
    <%= f.text_area :notes, class: note_class, placeholder: "Enter note" %>
    <!-- Input for notes end -->
    <% if note_was_invalid %>
      <% state_machine.errors.full_messages_for(:note).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for notes end -->
  <!-- Label and input for dsl start -->
  <div class="form-group">
    <% dsl_class = "form-control" %>
    <% dsl_was_invalid = state_machine.errors.include?(:dsl) %>

    <% if was_validated %>
      <% if dsl_was_invalid %>
        <% dsl_class << " is-invalid" %>
      <% else %>
        <% dsl_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dsl %>
    <!-- Input for dsl start -->
    <%= f.text_area :dsl, class: dsl_class, placeholder: "Enter dsl" %>
    <!-- Input for dsl end -->
    <% if dsl_was_invalid %>
      <% state_machine.errors.full_messages_for(:dsl).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for dsl end -->
  <!-- Label and input for diagram start -->
  <div class="form-group">
    <% diagram_class = "form-control" %>
    <% diagram_was_invalid = state_machine.errors.include?(:diagram) %>

    <% if was_validated %>
      <% if diagram_was_invalid %>
        <% diagram_class << " is-invalid" %>
      <% else %>
        <% diagram_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :diagram %>
    <!-- Input for diagram start -->
    <%= f.file_field :diagram, class: "form-control" %>
    <!-- Input for diagram end -->
    <% if diagram_was_invalid %>
      <% state_machine.errors.full_messages_for(:diagram).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for diagram end -->
  <!-- Label and input for table start -->
  <div class="form-group">
    <% table_class = "form-control" %>
    <% table_was_invalid = state_machine.errors.include?(:table) %>

    <% if was_validated %>
      <% if table_was_invalid %>
        <% table_class << " is-invalid" %>
      <% else %>
        <% table_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :table %>
    <!-- Input for table start -->
    <%= f.text_field :table, class: table_class, placeholder: "Enter table" %>
    <!-- Input for table end -->
    <% if table_was_invalid %>
      <% state_machine.errors.full_messages_for(:table).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for table end -->
  <!-- Label and input for column start -->
  <div class="form-group">
    <% column_class = "form-control" %>
    <% column_was_invalid = state_machine.errors.include?(:column) %>

    <% if was_validated %>
      <% if column_was_invalid %>
        <% column_class << " is-invalid" %>
      <% else %>
        <% column_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :column %>
    <!-- Input for column start -->
    <%= f.text_field :column, class: column_class, placeholder: "Enter column" %>
    <!-- Input for column end -->
    <% if column_was_invalid %>
      <% state_machine.errors.full_messages_for(:column).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for column end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
